 <h1><%= @student.to_s %></h1>
# <%= link_to @student.first_name + " " + @student.last_name, student_path(@student.id) %>
<% if @student.active %>
    This student is currently active.
<% else %>
    This student is currently inactive.
<% end %>